tf_slim
tf-models-official
lvis
Cython 
contextlib2 
pillow 
lxml 
matplotlib
pycocotools
fastapi
uvicorn
gunicorn
imutils
numpy
dlib
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66